html {
	overflow-y: scroll;
}

body
{
	background-image: url(assets/concrete.jpg);	
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
section {
	overflow-x: hidden;
}

.text-large {
	font-size: 28pt;
}

.text-aqua {
	color: #59AAA5;
}

.img-label {
	top: 80%;
	height: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle ;
	background-clip: content-box;
}

.bg-aqua {
	background-color: #59AAA5;
	color: white;
}

.border-grey-3 {
	border-color: grey;
	border-width: 3px !important;  
}

.nav-min-width {
	width: 300px;
}

.text-black-50:hover {
	cursor: default !important;
	text-decoration: none !important;
}

@media screen and (min-width: 641px) {
	.img-max {
	max-inline-size: 50% !important;
	width: 100%;
	}
}